
BODY {color: black}
BODY { font: 12pt Times, serif }
A:link { color: black }
A:visited { color: black }
A:active { color: black }
A:hover { font: 14pt; color: red }
.spade { color: black; font-size: 1.3em }
.heart { color: red; font-size: 1.3em }
.diam { color: red; font-size: 1.3em }
.club { color: black; font-size: 1.3em }
.alert { color: red }
.announce { color: blue }
.hidden { display: none }
.smolen { display: none }
.flannery { display: none }
.not-flannery { }
.jabbour { display: none }
.lebensohl-nt { display: none }
.meckwell { display: none }
.obvious-shift { display: none }
.not-obvious-shift { }
.fourth-best-leads { }
.third-and-fifth-leads { display: none }
.standard-discard { }
.upside-down-discard { display: none }
.splinter-after-stayman { display: none }
.superaccepts { display: none }
.puppet-over-1nt { }
.minor-suit-stayman { display: none }
.2NT-3S-pass-or-correct { }
.super-gerber { display: none }
.bergen { display: none }
.not-bergen { }
.drury { display: none }
.manfield { display: none }
.defense-over-2suited-overcalls { display: none }
.flip-flop { display: none }
.not-flip-flop { }
.modified-rkc-gerber { display: none }
.mccabe { display: none }
.dont { display: none }
.cappelletti { display: none }
.support-double { display: none }
.responsive-double { display: none }
.new-minor-forcing { display: none }
.defense-over-flannery { display: none }
.defense-over-1c { display: none }
.lightner-doubles { display: none }
